@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));

}
.custom-bg-union {
  width: 1000px; 
  height: 665px; 
  background-image: url('/Union.png'); 
  background-size: cover;
  /* background-position: center center; */
  background-repeat: no-repeat;
  /* position: relative; */
}
.custom-bg-union2 {
  margin-left: auto;
  width: 1000px; 
  height: 665px; 
  background-image: url('/Union (2).png'); 
  background-size: cover;
  /* background-position: center center; */
  background-repeat: no-repeat;
  position: relative;
}